<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="login-container">
        <h2>登入</h2>
        <form action="{{ url_for('login') }}" method="POST">
            <div class="inputBox">
                <input type="text" name="username" placeholder="帳號" required>
            </div>
            <div class="inputBox">
                <input type="password" name="password" placeholder="密碼" required>
            </div>
            <button class="enter" type="submit">登入</button>
        </form>
        <a href="{{ url_for('register_page') }}">還沒有帳號？註冊</a>
    </div>
</body>
</html>
