<!DOCTYPE html>
<html lang="en" id="register-page">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>


    <h2>註冊</h2>

    <!-- 顯示錯誤訊息 -->
    {% if error %}
        <p style="color: red;">{{ error }}</p>
    {% endif %}

    <form method="POST">
        <div>
            <label for="username">用戶名：</label>
            <input type="text" id="username" name="username" required>
        </div>
        <div>
            <label for="password">密碼：</label>
            <input type="password" id="password" name="password" required>
        </div>
        <div>
            <button type="submit">註冊</button>
        </div>
    </form>

</body>
</html>
